<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>

        {% if session['guessed_number'] == "temp" %}
        <div></div>
    
        
        {% elif session['guessed_number']|int > session['guess_this']|int %}
            <div class="result-wrong">
                <h2>Too High!</h2>
            </div>
        {% elif session['guessed_number']|int < session['guess_this']|int %}
            <div class="result-wrong">
                <h2>Too Low!</h2>
            </div>
        {% else %}
            <div class="result-right">
                <h2>You got it!!!</h2>
                <form action='/destroy_session' method='POST'>
                <input class="button float" type="submit" value="Play Again!">
                </form>
            </div>
        {% endif %}

    
        <form action='/submit_guess' method="POST">
            <input class="input" type="text" name="guess"> <br>
            <input class="button" type="submit" name="submit" value="Submit">
        </form>

    </div>
    
</body>
</html>